

header {
    background-color: #333;
    padding: 40px 30px;
    color: #fff;
}

header .wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0
}

header h1 {
    font-size: 60px;
}

header h2 {
    font-size: 20px;
}

/* * --- --- ---  MAIN --- --- --- */


main {
    padding: 10px 30px;
}

section {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.row {
    background-color: #fff;
    border-bottom: 1px #ccc solid;
    font-size: 13pt;
    padding: 15px 20px;
    color: #333;
    display: grid;
    grid-template-columns: 15fr 2fr 1fr;
    cursor: pointer;
}

.row:hover{
    background-color: #fafafa;
}

.row:hover .row__trash{
    opacity: 0.8;
}

.row__title{
    
}

.row__author{
    color: #999;
}

.row__time{

}

.row__trash{
	opacity: 0;
	transition: .3s ease all;
} 

